@use './../utils' as *;

@include desktop {
  .content {
    &__wrapper {
      margin-left: rem(70px);
    }
    &__wrapper h2 {
      font-size: rem(28.43px);
      font-family: Pretendard;
      font-weight: 700;
      color: $white;
      margin-bottom: rem(12px);
    }
    &__posters {
      display: flex;
    }
    &__poster {
      display: flex;
      flex-direction: column;
      margin-right: rem(16px);
    }
    &__poster img {
      width: 100%;
      height: auto;
      object-fit: contain;
      // white-space: nowrap;
      overflow: hidden;
    }
    &__title {
      color: $gray-200;
      font-size: rem(21.328px);
      font-family: Pretendard;
      font-weight: 600;
      margin-top: 8px;
    }
  }
  .quick {
    &__wrapper {
      margin-left: rem(70px);
    }
    &__wrapper h2 {
      font-size: rem(28.43px);
      font-family: Pretendard;
      font-weight: 700;
      color: $white;

      margin-top: rem(36px);
      margin-bottom: rem(12px);
    }
    &__posters {
      display: flex;
    }
    &__poster {
      display: flex;
      flex-direction: column;
      margin-right: rem(16px);
    }
    &__poster img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
    &__title {
      font-size: rem(21.328px);
      font-family: Pretendard;
      font-weight: 600;
      color: $gray-200;
      margin-top: rem(8px);
      margin-bottom: rem(4px);
      overflow: hidden;
    }
    &__episode {
      font-size: rem(16px);
      font-family: Pretendard;
      color: $gray-300;
    }
  }
}

@include tablet {
  .content {
    &__wrapper {
      margin-left: rem(40px);
    }
    &__wrapper h2 {
      font-size: 16px;
      font-family: Pretendard;
      font-weight: 700;
      color: $white;
      margin-bottom: rem(8px);
    }
    &__posters {
      display: flex;
    }
    &__poster {
      display: flex;
      flex-direction: column;
      margin-right: rem(8px);
    }
    &__poster img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
    &__title {
      color: $gray-200;
      font-size: rem(12.003px);
      font-family: Pretendard;
    }
  }
  .quick {
    &__wrapper {
      margin-left: rem(40px);
    }
    &__wrapper h2 {
      font-size: rem(16px);
      font-family: Pretendard;
      font-weight: 700;
      color: $white;

      margin-top: rem(28px);
      margin-bottom: rem(8px);
    }
    &__posters {
      display: flex;
    }
    &__poster {
      display: flex;
      flex-direction: column;
      margin-right: rem(8px);
    }
    &__poster img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
    &__title {
      font-size: rem(12.003px);
      font-family: Pretendard;
      font-weight: 600;
      color: $gray-200;
    }
    &__episode {
      font-size: rem(12.003px);
      font-family: Pretendard;
      color: $gray-300;
    }
  }
}

@include mobile {
  .content {
    &__wrapper {
      margin-left: rem(8px);
    }
    &__wrapper h2 {
      font-size: rem(12.003px);
      font-family: Pretendard;
      font-weight: 600;
      color: $white;
      margin-bottom: rem(4px);
    }
    &__posters {
      display: flex;
    }
    &__poster {
      display: flex;
      flex-direction: column;
      margin-right: rem(7.11px);
    }
    &__poster img {
      width: rem(92.894px);
      height: rem(134px);
      object-fit: contain;
    }
    &__title {
      display: none;
    }
  }
  .quick {
    &__wrapper {
      margin-left: rem(8px);
    }
    &__wrapper h2 {
      font-size: rem(12.003px);
      font-family: Pretendard;
      font-weight: 600;
      color: $white;

      margin-top: rem(15px);
      margin-bottom: rem(4px);
    }
    &__posters {
      display: flex;
    }
    &__poster {
      display: flex;
      flex-direction: column;
      margin-right: rem(9px);
    }
    &__poster img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
    &__title {
      font-size: rem(12.003px);
      font-family: Pretendard;
      font-weight: 600;
      color: $gray-200;
    }
    &__episode {
      font-size: rem(12.003px);
      font-family: Pretendard;
      color: $gray-300;
    }
  }
}
