@use "../utils" as *;

.favorite {
  background: $black;
  color: $white;
  width: 100%;
  padding-left: rem(70px);

  @include mobile {
  padding-left: rem(8px);
  }

  @include tablet {
    padding-left: rem(40px);
  }
  &__title {
    font-size: 28.43px;
    font-weight: 700;
    @include marginY(12px);

    @include mobile {
    font-size: rem(12px);
    font-weight: 600;
    }

    @include tablet {
      font-size: rem(16px);
    }
  }

  &__program {
    overflow: hidden;
  }

  &__live {
    overflow: hidden;
  }
}

.program {
  &__list {
    @include flexbox($gap: 16px);
    height: 100%;
  }

  &__item {
    @include flexbox;
    flex: 1 0 calc(13.5% - 16px);
    max-width: 240px;
    margin-bottom: 16px;

    @include mobile {
      flex: 1 0 calc(31.25% - 16px);
      min-width: rem(150px);
    }

    @include tablet {
      flex: 1 0 calc(19.6% - 16px);
      min-width: rem(160px);
    }

    @include desktop {
      min-width: rem(180px);
    }
  }

  &__infoWrapper {
    position: relative;
    top: rem(-22px);
    @include flexbox($gap: 5px);
    min-height: rem(50px);
  }
  &__rank {
    @include mobile {
      max-width: rem(29px);
    }

    @include tablet {
      max-width: rem(29px);
    }
  }
  &__info {
    position: relative;
    bottom: rem(-20px);
    line-height: rem(60px);
    color: $gray-200;
    @include textOver;

    @include mobile {
     bottom: rem(-5px);
    }

    @include tablet {
      bottom: rem(-10px);
    }
    @include desktop {
      font-size: rem(20px);
      font-weight: 600;
    }
  }

  &__img {
    border-radius: rem(4px);
    @include fit;
    @include tablet {
      min-width: rem(150px);
    }
    @include desktop {
      min-width: rem(160px);
    }
  }
}
// 라이브 섹션
.live {
  &__list {
    @include flexbox($gap: 16px);
    height: 100%;
    padding-bottom: rem(16px);
  }

  &__item {
    @include flexbox($gap: 12px);
    flex: 1 0 calc(21% - 16px);
    max-width: 345px;
    margin-bottom: rem(16px);

    @include mobile {
      flex: 1 0 calc(50.33% - 16px);
      min-width: rem(140px);
    }

    @include tablet {
      flex: 1 0 calc(32.2% - 16px);
      min-width: rem(150px);
    }

    @include desktop {
      min-width: rem(170px);
    }
  }

  &__infoWrapper {
    position: relative;
    @include flexbox($gap: 12px);
    min-height: 50px;

    @include tablet {
      bottom: 20px;
    }
  }
  
  &__rank {
    @include mobile {
      max-width: rem(30px);
      align-self: flex-start;
    }

    @include tablet {
      max-width: rem(30px);
    }
  }

  &__infoContainer {
    @include flexbox($direction: column, $gap: 2px);
    overflow: hidden;

    @include tablet {
      position: relative;
      top: 10px;
    }
  }
  &__title {
    color: $gray-200;
    font-size: rem(12px);

    @include desktop {
      font-weight: 600;
      font-size: rem(20px);
    }
  }
  &__info {
    color: $gray-300;
    @include textOver;

    @include mobile {
      font-size: rem(12px);
    }
    @include tablet {
      font-size: rem(12px);
    }
    @include desktop {
      font-weight: 600;
    }
  }
  &__viewing--rate {
    color: $gray-500;
    @include mobile {
      font-size: rem(12px);
    }
    @include tablet {
      font-size: rem(12px);
    }
  }

  &__img {
    border-radius: rem(4px);
    margin-bottom: rem(12px);
  }
}
