@use "../utils" as *;

.favorite {
  background: $black;
  color: $white;
  width: 100%;
  padding-left: 70px;
  &__title {
    font-size: 28.43px;
    font-weight: 700;
    @include marginY(12px);
  }

  &__program {
    overflow: hidden;
  }

  &__live {
  }
}

.program {
  &__list {
    @include flexbox($gap: 16px);
    height: 100%;
  }

  &__item {
    @include flexbox;
    flex: 1 0 calc(13.5% - 16px);
    max-width: 240px;
    margin-bottom: 16px;

    @include mobile {
      flex: 1 0 calc(33.33% - 16px);
      min-width: rem(150px);
    }

    @include tablet {
      flex: 1 0 calc(20% - 16px);
      min-width: rem(160px);
    }
    @include desktop {
      min-width: rem(180px);
    }
  }

  &__info {
    line-height: 60px;
    @include textOver;

    @include desktop {
      font-weight: 600;
    }
  }

  &__img {
    @include tablet {
      min-width: rem(150px);
    } 
    @include desktop {
      min-width: rem(160px);
    }   
  }
}

.infoWrapper {
  @include flexbox($gap: 10px);
  min-height: 50px;
}

.live {
  &__list {
  }

  &__item {
  }

  &__link {
  }
}