@use "../utils" as *;
@use "../layout/header";
@use "../layout/footer";

// 헤더 부분
.header {
  @include paddingX(70px);
  height: 100px;
  margin-top: 19px;
}

// 로그인 영역
.login {
  @include flexbox(column);
  @include autoMargin;
  margin-top: rem(70px);
  max-width: rem(732px);
  color: $white;

  @include mobile {
    max-width: rem(288px);
  }
  @include tablet {
    max-width: rem(416px);
  }

  &__title {
    margin-bottom: rem(60px);
    text-align: center;
    font-size: rem(37.897px);
    font-weight: 700;

    @include mobile {
      max-width: rem(288px);
      font-size: rem(16px);
      margin-bottom: rem(28px);
    }

    @include tablet {
      max-width: rem(416px);
      font-size: rem(28.43px);
      margin-bottom: rem(24px);
    }
  }

  &--form {
    text-align: center;
  }

  &__input {
    width: rem(732px);
    height: rem(96px);
    margin-bottom: rem(15px);
    font-size: 1.4rem;
    @include paddingX(24px);
    border-style: none;
    border-radius: 4px;
    height: 4.8rem;
    background: $dark-bg-2;
    color: $white;

    @include mobile {
      max-width: rem(288px);
      height: rem(46px);
      font-size: rem(12.003px);
      margin-bottom: rem(8px);
      @include paddingX(16px);
    }

    @include tablet {
      max-width: rem(416px);
      height: rem(54px);
      font-size: rem(16px);
      margin-bottom: rem(8px);
      @include paddingX(16px);
    }
  }

  &__input:focus {
    outline: none;
    border: 1px solid $gray-100;
    color: $white;
  }

  &__password {
    position: relative;
  }

  // 로그인 버튼
  &__btn {
    background: $red-1;
    max-width: rem(732px);
    height: rem(86px);
    color: $white;
    font-size: rem(28.43px);
    font-weight: 600;
    border-style: none;
    border-radius: 4px;
    margin-bottom: rem(48px);

    @include mobile {
      max-width: rem(288px);
      height: rem(42px);
      font-size: rem(12.003px);
      margin-bottom: rem(20px);
    }

    @include tablet {
      max-width: rem(416px);
      height: rem(50px);
      font-size: rem(16rem);
      margin-bottom: rem(24px);
    }
  }

  &--option {
    @include autoMargin;
    text-align: center;
    color: $gray-300;
    max-width: rem(732px);
  }
}
// 패스워드 체크박스
.password--viewing--checkbox {
  @include pos;
  top: rem(20px);
  right: rem(30px);
  width: rem(36px);
  height: rem(36px);
  appearance: none;
  background: url(../../images/viewing.svg) no-repeat 0 0/100%;

  @include mobile {
    top: rem(15px);
    right: rem(20px);
    width: rem(20px);
    height: rem(20px);
  }

  @include tablet {
    top: rem(15px);
    right: rem(20px);
    width: rem(20px);
    height: rem(20px);
  }
}

.login--state {
  position: relative;
  padding-bottom: rem(16px);

  &__checkbox {
    position: absolute;
    width: rem(12.308px);
    height: rem(12.308px);
    appearance: none;

    @include desktop {
      width: rem(26px);
      height: rem(26px);
      padding-bottom: rem(32px);
    }
  }

  &__label {
    @include flexbox($gap: 12px, $wrap: wrap);
    color: $gray-500;
    font-size: rem(12.003px);

    @include desktop {
      font-size: rem(21.328px);
    }
  }
}

.login--state__label .icon--check {
  display: block;
  width: rem(12.308px);
  height: rem(12.308px);
  background: url(../../images/uncheck.svg) no-repeat 0 0/100%;

  @include desktop {
    width: rem(26px);
    height: rem(26px);
  }
}
// 사이즈 조정 필요
.login--state__checkbox:checked + .login--state__label .icon--check {
  background: url(../../images/checked.svg) 0 0/100%;
}

.login--state__checkbox:checked + .login--state__label {
  color: $white;
}

.option {
  &__list {
    @include flexbox;
    justify-content: center;
    align-items: center;
  }

  &__item {
    border-left: 1px solid #000;
    width: rem(175px);
  }

  &__link {
    display: block;
    @include mobile {
      font-size: rem(12.003px);
    }

    @include tablet {
      font-size: rem(16px);
    }
  }
}
.option__item:nth-child(2) {
  position: absolute;
  color: $gray-800;
}

.account--message {
  display: block;
  margin-top: rem(44px);
  font-size: rem(21.328px);
  color: $gray-500;

  &__signup--link {
    margin-left: rem(16px);
    text-align: center;
    color: $gray-300;
  }

  @include mobile {
    font-size: rem(12.003px);
    margin-top: rem(20px);
  }
  @include tablet {
    font-size: rem(16px);
    margin-top: rem(24px);
  }
}
