@use "./../utils/" as *;

.only {
  background: $black;

  @include mobile {
    padding-left: rem(8px);
    padding-bottom: rem(16px);
  }

  @include tablet {
    padding-left: rem(40px);
    padding-bottom: rem(28px);
  }

  @include desktop {
    padding-left: rem(70px);
    padding-bottom: rem(36px);
  }

  &__title {
    color: $white;
    font-size: clamp(12px, 1.9vw, 28px);
    font-weight: 700;
    margin-bottom: rem(12px);
  }

  &__list {
    @include gridbox(7, 1fr, 0, 16px);
    overflow: hidden;
  }

  &__link {
    display: block;
    width: clamp(140px, 21vw, 280px);
    height: auto;
  }
}

.adBanner {
  background: $black;

  @include mobile {
    @include paddingX(8px);
    @include paddingY(16px);
  }

  @include tablet {
    @include paddingX(40px);
    @include paddingY(28px);
  }

  @include desktop {
    @include paddingX(70px);
    @include paddingY(36px);
  }
}
