@use "../base";
@use "../layout/header";
@use "../layout/footer";
@use "../utils" as *;

.signup {
  color: $gray-500;
  @include mobile {
    @include containerMax(288px);
    margin-top: rem(66px);
  }

  @include tablet {
    @include containerMax(416px);
    margin-top: rem(84px);
  }

  @include desktop {
    @include containerMax(730px);
  }

  &__container {
    @include flexbox(column);

    @include mobile {
      gap: rem(16px);
    }

    @include tablet {
      gap: rem(18px);
    }

    @include desktop {
      gap: rem(34px);
    }
  }

  &__title {
    color: $white;
    font-weight: 700;
    text-align: center;

    @include mobile {
      font-size: rem(16px);
      margin-bottom: rem(8px);
    }

    @include tablet {
      font-size: rem(28px);
      margin-bottom: rem(16px);
    }

    @include desktop {
      font-size: rem(38px);
      margin-bottom: rem(28px);
    }
  }

  &__desc {
    color: $gray-400;
    font-weight: 600;
    text-align: center;
    margin-bottom: rem(24px);

    @include mobile {
      font-size: rem(12px);
    }

    @include tablet {
      font-size: rem(16px);
    }

    @include desktop {
      margin-bottom: rem(60px);
      font-size: rem(28px);
    }
  }

  &__input {
    width: 100%;
    border: 0;
    border-radius: 4px;
    background: $dark-bg-2;
    padding-left: rem(16px);
    color: $white;

    @include mobile {
      height: rem(46px);
      font-size: rem(12px);
    }

    @include tablet {
      height: rem(54px);
      font-size: rem(16px);
    }

    @include desktop {
      height: rem(96px);
      font-size: rem(28px);
      padding-left: rem(24px);
    }

    &::placeholder {
      color: $gray-600;

      @include mobile {
        font-size: rem(12px);
      }

      @include tablet {
        font-size: rem(16px);
      }

      @include desktop {
        font-size: rem(28px);
      }
    }
  }

  @at-root .errorMessage {
    @include mobile {
      font-size: rem(12px);
      margin-top: rem(4px);
    }

    @include tablet {
      font-size: rem(14px);
      margin-top: rem(8px);
    }

    @include desktop {
      font-size: rem(21px);
      margin-top: rem(12px);
    }
  }

  @at-root .checkAll,
    .check,
    .checkMarketing {
    appearance: none;
    position: absolute;
    width: 26px;
    height: 26px;
    cursor: pointer;
  }

  @at-root .checkAll {
    &:checked + label {
      background: url(../images/signup/checked.svg) 0 50%/16px no-repeat;
    }

    @include desktop {
      &:checked + label {
        background: url(../images/signup/checked.svg) no-repeat;
      }
    }

    &Container {
      position: relative;
      font-size: rem(12px);

      @include tablet {
        font-size: rem(14px);
      }

      @include desktop {
        font-size: rem(21px);
      }
    }
  }

  @at-root .check {
    &:checked + label {
      background: url(../images/signup/checked-no-fill.svg) 0 50%/16px no-repeat;
    }

    @include desktop {
      &:checked + label {
        background: url(../images/signup/checked-no-fill.svg) no-repeat;
      }
    }

    &List {
      position: relative;

      @include mobile {
        font-size: rem(12px);
      }

      @include tablet {
        font-size: rem(14px);
      }

      @include desktop {
        font-size: rem(21px);
      }
    }
  }

  @at-root .allAgree {
    display: block;
    height: 26px;
    line-height: 26px;
    background: url(../images/signup/un-check.svg) 0 50%/16px no-repeat;
    padding-left: rem(24px);

    @include desktop {
      background: url(../images/signup/un-check.svg) no-repeat;
      padding-left: rem(38px);
    }
  }

  @at-root .agree {
    display: block;
    height: 26px;
    line-height: 26px;
    background: url(../images/signup/check-no-fill.svg) 0 50%/16px no-repeat;
    padding-left: rem(24px);

    @include desktop {
      background: url(../images/signup/check-no-fill.svg) no-repeat;
      padding-left: rem(38px);
    }

    &List {
      @include flexbox(column);
      gap: 8px;

      @include desktop {
        gap: 12px;
      }
    }
  }

  @at-root .marketingList {
    margin-left: rem(36px);
    margin-top: rem(10px);

    @include flexbox(column);
    gap: 8px;

    @include desktop {
      margin-top: rem(16px);
      gap: 12px;
    }
  }

  &Btn {
    border: 0;
    border-radius: 4px;
    color: $gray-400;
    background: $gray-700;

    @include mobile {
      height: rem(42px);
      font-size: rem(12px);
    }

    @include tablet {
      height: rem(50px);
      font-size: rem(16px);
    }

    @include desktop {
      height: rem(86px);
      font-size: rem(28px);
    }
  }
}
