<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>인덱스 페이지</title>
    <link
      rel="stylesheet"
      as="style"
      crossorigin
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.7/dist/web/static/pretendard-dynamic-subset.css"
    />
    <link rel="stylesheet" href="/style/index.css" />
  </head>

  <body>
    <div class="container">
      <section class="content-wrapper">
        <h2>티빙에서 꼭 봐야하는 콘텐츠</h2>
        <ul class="content-posters">
          <li class="content-poster">
            <div class="spriteMotster"></div>
            <span class="content-title">괴이</span>
          </li>
          <li class="content-poster">
            <div class="spriteLove"></div>
            <span class="content-title">러브캐치</span>
          </li>
          <li class="content-poster">
            <div class="spriteTransit"></div>
            <span class="content-title">환승연애2</span>
          </li>
          <li class="content-poster">
            <div class="spriteDrink"></div>
            <span class="content-title">술꾼도시여자들</span>
          </li>
          <li class="content-poster">
            <div class="spriteBody"></div>
            <span class="content-title">몸값</span>
          </li>
          <li class="content-poster">
            <div class="spriteFood"></div>
            <span class="content-title">푸드크로니클</span>
          </li>
          <li class="content-poster">
            <div class="spriteOurEvery"></div>
            <span class="content-title">전체관람가</span>
          </li>
        </ul>
      </section>
      <section class="quick-wrapper">
        <h2>Quick VOD</h2>
        <ul class="quick-posters">
          <li class="quick-poster">
            <div class="spriteHealth"></div>
            <span>건강면세점</span>
            <span>130화</span>
          </li>
          <li class="quick-poster">
            <div class="spriteMe"></div>
            <span>휴먼다큐 &lt;나는 살기로 했다&gt;</span>
            <span>10화</span>
          </li>
          <li class="quick-poster">
            <div class="spriteLining"></div>
            <span>알맹이</span>
            <span>208화</span>
          </li>
          <li class="quick-poster">
            <div class="spriteClass"></div>
            <span>차이나는 클라스</span>
            <span>254화</span>
          </li>
          <li class="quick-poster">
            <div class="spriteHealth"></div>
            <span>엄마의 봄날</span>
            <span>380화</span>
          </li>
          <li class="quick-poster">
            <div class="spriteHealth"></div>
            <span>JTBC 뉴스룸</span>
            <span>0화</span>
          </li>
        </ul>
      </section>
    </div>
  </body>
</html>
