<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="favorite">
      <h2 class="favorite__title">실시간 인기 프로그램</h2>
      <section class="favorite__program">
        <ol class="program__list">
          <li class="program__item">
            <a href="/" class="program__link spriteProgram">
              <span class="spriteRank a11yHidden">1위</span>
              재벌집 막내아들
            </a>
          </li>
          <li class="program__item">
            <a href="/" class="program__link spriteProgram">
              <span class="spriteRank a11yHidden">2위</span>
              술꾼도시여자들2
            </a>
          </li>
          <li class="program__item">
            <a href="/" class="program__link spriteProgram">
              <span class="spriteRank a11yHidden">3위</span>
              환혼: 빛과 그림자
            </a>
          </li>
          <li class="program__item">
            <a href="/" class="program__link spriteProgram">
              <span class="spriteRank a11yHidden">4위</span>
              캐나다 체크인
            </a>
          </li>
          <li class="program__item">
            <a href="/" class="program__link spriteProgram">
              <span class="spriteRank a11yHidden">5위</span>
              놀라운 토요일
            </a>
          </li>
          <li class="program__item">
            <a href="/" class="program__link spriteProgram">
              <span class="spriteRank a11yHidden">6위</span>
              SHOW ME THE MONEY
            </a>
          </li>
          <li class="program__item">
            <a href="/" class="program__link spriteProgram">
              <span class="spriteRank a11yHidden">7위</span>
              러브캐쳐 인 발리
            </a>
          </li>
          <li class="program__item">
            <a href="/" class="program__link spriteProgram">
              <span class="spriteRank a11yHidden">8위</span>
              알쓸인잡
            </a>
          </li>
        </ol>
      </section>

      <h2 class="favorite__title">인기 LIVE 채널</h2>
      <section class="favorite__live">
        <ol class="live__list">
          <li class="live__item">
            <a href="/" class="live__link spriteLive">
              <span class="spriteRank a11yHidden">1위</span>
              JTBC
            </a>
          </li>
          <li class="live__item">
            <a href="/" class="live__link spriteLive">
              <span class="spriteRank a11yHidden">2위</span>
              tvN
            </a>
          </li>
          <li class="live__item">
            <a href="/" class="live__link spriteLive">
              <span class="spriteRank a11yHidden">3위</span>
              YTN
            </a>
          </li>
          <li class="live__item">
            <a href="/" class="live__link spriteLive">
              <span class="spriteRank a11yHidden">4위</span>
              JTBC2
            </a>
          </li>
          <li class="live__item">
            <a href="/" class="live__link spriteLive">
              <span class="spriteRank a11yHidden">5위</span>
              연합뉴스 TV
            </a>
          </li>
          <li class="live__item">
            <a href="/" class="live__link spriteLive">
              <span class="spriteRank a11yHidden">6위</span>
              애니맥스
            </a>
          </li>
        </ol>
      </section>
    </section>
  </body>
</html>
