<!DOCTYPE html>
<html lang="ko-KR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="header.css" />
  <title>header</title>
</head>
<body>
  
<header class="Header">
<nav class="menu">
  <h1 class="a11yHidden">메인메뉴</h1>
  <ul class="menu__list">
    <li class="menu__item1">로고</li>
    <li class="menu__item2">실시간</li>
    <li class="menu__item3">TV프로그램</li>
    <li class="menu__item4">영화</li>
    <li class="menu__item5">Paramount+</li>
  </ul>
  <ul class="menu__list2">
    <li class="menu__item6">돋보기</li>
    <li class="menu__item7"><img class="menu__item7__img" src="./../images/tving-icon.png" alt="" /></li>
  </ul>
</nav>
<figure class="menu__img">
<img class="menu__img__item" src="./../images/main_banner.png" alt="재벌집 막내아들 포스터"/>
</figure>
</header>
</body>
</html>