<!DOCTYPE html>
<html lang="ko-KR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>템플릿 페이지</title>
  <link rel="stylesheet" as="style" crossorigin
    href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.7/dist/web/static/pretendard-dynamic-subset.css" />
</head>

<body>
  <section class="only">
    <h2 class="only__title">오직 티빙에만 있어요</h2>
    <ul class="only__list">
      <li class="only__item"><a href="/" class="only__link"></a></li>
      <li class="only__item"><a href="/" class="only__link"></a></li>
      <li class="only__item"><a href="/" class="only__link"></a></li>
      <li class="only__item"><a href="/" class="only__link"></a></li>
      <li class="only__item"><a href="/" class="only__link"></a></li>
      <li class="only__item"><a href="/" class="only__link"></a></li>
      <li class="only__item"><a href="/" class="only__link"></a></li>
    </ul>
  </section>
  <aside class="adBanner">
    <a href="/" class="ad"><img src="../images/sports.svg" alt="하단 광고배너" /></a>
  </aside>
</body>

</html>