@use "./../utils/" as *;
@use "./../base/" as *;


.event {
  @include flexbox($direction: column);
  background:$black;
  padding-left: 70px;

  .event__title {
    font-size: 28px;
    font-weight: 700;
    line-height: 140%;
    color: $white;
  }

  .event__list {
    @include flexbox($gap:16px);
  }

  .event-text {

  }
}
.event__list li {
  width:347px;
}

.event__list li a {
  display: block;
  width: 100%;
}

.event__list li a img {
  width: 100%;
}

@include desktop {

}

@include tablet {

}

@include mobile {
  
}



