@use "./../utils/" as *;
@use "./../base/" as *;

.event {
  background:$black;
  padding-left: 70px;

  @include tablet {
  padding-left: 40px;
  }

  @include mobile {
  padding-left: 8px;
  }

  &__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 140%;
  color: $white;

  @include tablet {
  font-size: 16px;
  }

  @include mobile {
  font-size: 12px;
  }
  }

  &__list {
  @include flexbox($gap:16px);
  flex: 1 0 calc(19% - 16px);
  margin-bottom: 16px;
  overflow: hidden;
  }

  &__text{
    display: block;
    height: auto;
    width: clamp(60px, 30vw, 150px)
  }

  &__item {
    @include desktop {
    min-width: 340px;
    }
    @include tablet {
    min-width: 200px;
    }
    @include mobile {
    min-width: 130px;
    }
  }
}
